*{margin: 0; padding: 0}
ul{list-style: none;}
.tab{width: 900px; height: 400px; margin: 100px auto; box-shadow: 0 2px 5px #ccc; overflow: hidden;}
.tabTag{width: 230px; float: left; position: relative;}
ul{height: 260px; padding: 10px 0;  text-align: center; margin-top: 55px;}
.tabTag ul{border-right: 1px solid #d5d5d5; line-height: 70px; color: #999;}
.tabTag ul li{height: 60px; cursor: pointer;}
.tabTag i{display: block; width: 5px; height: 70px; background-color: #e74c3c; position: absolute; right: -2px;
    top: 65px;}
.tabContext{width: 670px; float: left; position: relative;}
.tabContext ul li{height: 260px; padding: 0 20px; position: absolute; top: -205px;}
.tabContext ul li h2{line-height: 150px; font-size: 40px;}
.tabContext ul li p{text-align: left;}
.tabContext .focus{top: 50px;}