<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div class="container">
    <p class="text-info" style="font-size: 50px;">Welcome</p>
</div>
</body>
</html>